#art/*
#bionic/*
#bootable/*
#build/*
#compatibility/*


#cts/*
cts/tests/*


#dalvik/*
#developers/*
#development/*
device/*


external/*
#frameworks/*
#hardware/*
#kernel/*
#libcore/*


#libnativehelper/*

#packages/*
packages/modules/ArtPrebuilt/com.android.art.debug-x86_64.apex
packages/modules/ArtPrebuilt/com.android.art.debug-arm64.apex
packages/modules/ArtPrebuilt/com.android.art-x86_64.apex
packages/modules/BootPrebuilt/5.10/arm64/boot-userdebug.img
packages/modules/ArtPrebuilt/com.android.art.debug-arm.apex
packages/modules/ArtPrebuilt/com.android.art.debug-x86.apex
packages/modules/BootPrebuilt/5.4/arm64/boot-userdebug.img
packages/modules/ArtPrebuilt/com.android.art-arm64.apex
packages/modules/ArtPrebuilt/com.android.art-x86.apex
packages/apps/TV/tuner/tests/assets/capture_stream.ts
packages/modules/GeoTZ/tzbb_data/input-data.zip
frameworks/base/cmds/incidentd/testdata/morethan96MB.txt


#pdk/*
#platform_testing/*
prebuilts/*


#sdk/*
#system/*
#test/*
#toolchain/*

#tools/*
tools/dexter/testdata/expected/large.code_coverage
tools/dexter/testdata/expected/large.verbose_cfg
tools/dexter/testdata/expected/large.asm
tools/tradefederation/prebuilts/filegroups/tradefed/tradefed.jar
tools/dexter/testdata/expected/large.scratch_regs
tools/dexter/testdata/expected/large.rewrite
tools/dexter/testdata/expected/large.compact_cfg

#out/*
out/host/*
out/soong/*
out/target/*
out/.kati_stamp-aosp_coral
out/build-aosp_coral.ninja
out/*.gz
out/*.log
out/*.lock
out/*.txt
out/*.hash
out/.path/*
out/.soong_ui_intermediates/*
out/..path_interposer_intermediates/*
out/.microfactory_Darwin_intermediates/*
out/.module_paths/*


#vendor/*
vendor/google_devices/coral/proprietary/vendor.img
