#art/*
#bionic/*
#bootable/*
#build/*
#compatibility/*


cts/*
dalvik/*
developers/*
development/*
device/*


external/*
frameworks/*
hardware/*
kernel/*
libcore/*


libnativehelper/*

#packages/*
packages/modules/ArtPrebuilt/com.android.art.debug-x86_64.apex
packages/modules/ArtPrebuilt/com.android.art.debug-arm64.apex
packages/modules/ArtPrebuilt/com.android.art-x86_64.apex
packages/modules/BootPrebuilt/5.10/arm64/boot-userdebug.img
packages/modules/ArtPrebuilt/com.android.art.debug-arm.apex
packages/modules/ArtPrebuilt/com.android.art.debug-x86.apex
packages/modules/BootPrebuilt/5.4/arm64/boot-userdebug.img
packages/modules/ArtPrebuilt/com.android.art-arm64.apex
packages/modules/ArtPrebuilt/com.android.art-x86.apex
packages/apps/TV/tuner/tests/assets/capture_stream.ts
File packages/modules/GeoTZ/tzbb_data/input-data.zip
File frameworks/base/cmds/incidentd/testdata/morethan96MB.txt


#pdk/*
#platform_testing/*
prebuilts/*


#sdk/*
system/*
#test/*
#toolchain/*
tools/*

#out/*
out/host/*
out/soong/*
out/target/*
out/.kati_stamp-aosp_coral
out/build-aosp_coral.ninja



vendor/*
