# Date : WK16.52
# Operation : HIDL Migration
# Purpose : For memtrack related service access
allow hal_memtrack debugfs_gpu_mali_midgard:file {open read getattr };
allow hal_memtrack debugfs_gpu_mali_utgard:file {open read getattr };
allow hal_memtrack debugfs_gpu_img:dir search;
allow hal_memtrack debugfs_gpu_img:file {open read getattr };
allow hal_memtrack debugfs_ion:dir rw_dir_perms;
allow hal_memtrack debugfs_ion:file {open read getattr };
allow hal_memtrack procfs_gpu_img:dir search;
allow hal_memtrack procfs_gpu_img:file r_file_perms;

# Date : 2020/06/29
# Operation: R migration
# Purpose: Add permission for access /proc/ion/*
allow hal_memtrack proc_ion:dir r_dir_perms;
allow hal_memtrack proc_ion:file r_file_perms;
