# HwBinder IPC from client to server, and callbacks
binder_call(mtk_hal_aee_client, mtk_hal_aee_server)
binder_call(mtk_hal_aee_server, mtk_hal_aee_client)

add_hwservice(mtk_hal_aee_server, mtk_hal_aee_hwservice)
allow mtk_hal_aee_client mtk_hal_aee_hwservice:hwservice_manager find;
